.containerBooksInfo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.containerBook {
    margin: 10px;
}

.containerBook img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}
