.cityInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 15vh;
}

.cityName, .cityTemp {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
  }
