.mainContainer {
    display: flex;
    flex-direction: column;
}

.mainContainer label {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.mainContainer input {
    margin-left: 5px;
}

.mainContainer button {
    margin: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
}
