.mainContainer {
    display: flex;
    flex-direction: column;
}

.mainContainer .first {
    color: green;
}

.mainContainer .marked {
    color: red;
}

.mainContainer .last {
    color: purple;
}
